.image1 {
  height: 30%;
  width: 30%;
}

.donate {
  height: 100%;
  position: fixed;
  overflow: auto;
  width: 178px;
}

.calendar {
  position: center;
}

body {
  font-family: 'Source Sans Pro', 'Slabo 27px';
}
